HER/forward_model/*
baseline_results_new/
*.pyc
*~
HER/shape_prediction
*slurm*out
*.png
*.jpg
HER/rcnn/ap-v3_data*
weights
*.h5
HER/rcnn/logs
*readme
*logbook
*.sh
notes*
test_results/
trained_models
*_old
*plot_multi*